{% extends '_base.html' %}
{% load static %}


{% block link %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/sc-2.0.2/sp-1.1.1/datatables.min.css"/>
{% endblock link %}


{% block content %}
  <h1 class="content text-center mb-4">Sales Data</h1>

  {% if sales_data %}
  <div class="table-responsive">
    <table id="history" class="table table-hover white-background">
      <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Min Cust/hour</th>
          <th scope="col">Max Cust/hour</th>
          <th scope="col">Avg Cookies</th>
          <th scope="col">Manager</th>
          
        </tr>
      </thead> 
      <tbody id="table-body"> 
        {% for store in sales_data %}
          <tr>
            <th class="align-middle text-center" scope="row">{{ store.name }}</th>
            <td class="align-middle text-center">{{ store.min_customers }}</td>
            <td class="align-middle text-center">{{ store.max_customers }}</td>
            <td class="align-middle text-center">{{ store.avg_sale }}</td>
            <td class="align-middle text-center">{{ user.name }}</td>
            
            
          </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div> 
  {% else %}
    <h3 class="content">No sales data found, go to the <a href="{% url 'home' %}">home</a> page</h3>
  {% endif %}



{% endblock content%}


{% block script %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/sc-2.0.2/sp-1.1.1/datatables.min.js"></script>
  <script type="text/javascript" src="{% static 'js/history.js' %}"></script>
{% endblock script %}